## Python End Term Examination

In [ ]:
#Your Details

roll1 = "D22018"
roll2 = "D22029"
roll3 = "D22043"

name1 = "Himanshu Yadav"
name2 = "manikandan Raja"
name3 = "Sachin Singh"

### Instructions:

1.  File nomenclature should be: Roll1-Roll2-Roll3
2.  You need to submit this notebook in the .IPYNB format
3.	Please include your names and roll numbers in the **Your Details** section.
4.	**DO NOT** use input() function.
5.	An auto-checker will be used to check your work.
6.  Your work must be supprted with very detailed comments.
7.	The auto-checker can detect plagiarism. So do not copy codes from your friend or from internet. This is a closed internet exam. Identification of plagiarism will automatically cancel checking that question.
8.  An auto-grader will be used to check your solutions

In [3]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.79-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: requests>=2.26 in f:\installations\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in f:\installations\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: numpy>=1.15 in f:\installations\lib\site-packages (from yfinance) (1.21.5)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.5.1 in f:\installations\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: appdirs>=1.4.4 in f:\installations\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in f:\installations\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in f:\installations\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in f:\installations\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in f:\installations\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in f:\installations\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in f:\installations\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in f:\installations\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.79
Note: you may need to restart the kernel to use updated packages.

### Extracting Stock Data from Yahoo Finance

In [4]:
#Importing the Yahoo Finance Library
import yfinance as yf

#To extract the stock data of the HDFC Bank between '2021-10-19' and end='2022-10-19'

#NSE symbol for HDFC bank
symbol = "HDFCBANK.NS"

#Creating a ticker object
tickerData = yf.Ticker(symbol)

#get the historical prices for this ticker (perid='1d' implies daily data)
tickerDf = tickerData.history(period='1d', start='2021-10-19', end='2022-10-19')

In [6]:
#The extracted data in a data frame
tickerDf

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-19,1656.193303,1672.997915,1651.794497,1669.291016,4493770,0.0,0
2021-10-20,1669.686543,1679.225656,1645.319830,1654.611816,5454284,0.0,0
2021-10-21,1652.585412,1662.618657,1641.761192,1657.033691,4869095,0.0,0
2021-10-22,1660.789942,1688.369300,1651.547429,1661.432495,6087777,0.0,0
2021-10-25,1670.576162,1670.576162,1595.252007,1637.955444,8213383,0.0,0
...,...,...,...,...,...,...,...
2022-10-12,1403.199951,1414.849976,1397.300049,1409.800049,4612525,0.0,0
2022-10-13,1402.050049,1406.250000,1384.000000,1393.599976,7357117,0.0,0
2022-10-14,1417.000000,1447.000000,1415.250000,1439.000000,6424960,0.0,0
2022-10-17,1435.000000,1457.599976,1427.000000,1446.550049,9205250,0.0,0
2022-10-18,1458.050049,1462.900024,1440.000000,1443.849976,5280132,0.0,0

## Exercise

**Question 1:**

Design a function named 
        
           get_stock_data(symbol, start_date, end_date)

that would take a stock symbol, a start date and an end date and generate a data frame of the above kind.

For example,

            get_stock_data('TATAMOTORS.NS', start_date='2021-10-19', end_date='2022-10-19').head() 

Would return...

                              Open	      High	      Low	     Close	 Volume	   Dividends	Stock Splits
            Date							
            2021-10-19	512.450012	517.400024	476.049988	481.899994	57428637	0	         0
            2021-10-20	481.799988	497.000000	471.250000	486.899994	55444814	0	         0
            2021-10-21	491.750000	510.399994	485.750000	508.000000	52608672	0	         0
            2021-10-22	509.899994	510.700012	487.399994	490.899994	42742785	0	         0
            2021-10-25	493.899994	496.000000	473.250000	479.899994	33107841	0	         0

In [142]:
#Defining a function 
def get_stock_data(symbol,start_date ,end_date):
    symbol_for_function = symbol
    tickerData = yf.Ticker(symbol_for_function)
    tickerDf = tickerData.history(period='1d', start=start_date, end=end_date).head() 
    return(tickerDf) #returning a DataFrame

In [143]:
get_stock_data('TATAMOTORS.NS','2021-10-19','2022-10-19')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-19 00:00:00+05:30,512.450012,517.400024,476.049988,481.899994,57428637,0,0
2021-10-20 00:00:00+05:30,481.799988,497.000000,471.250000,486.899994,55444814,0,0
2021-10-21 00:00:00+05:30,491.750000,510.399994,485.750000,508.000000,52608672,0,0
2021-10-22 00:00:00+05:30,509.899994,510.700012,487.399994,490.899994,42742785,0,0
2021-10-25 00:00:00+05:30,493.899994,496.000000,473.250000,479.899994,33107841,0,0

In [145]:
os.mkdir(os.getcwd()+'\\NIFTY50')

**Question 2**

Create a function named

        export_stock_data(symbol, start_date, end_date, directory)
        
that would take a stock symbol, a start date, an end date and a path (directory) to generate a data frame of the above kind and export it as a CSV file in the given directory with the name of the file as the symbol of the stock.

In [148]:
#Defining a function
def export_stock_data(symbol, start_date, end_date, directory=os.getcwd()+'\\NIFTY50'):
    symbol_for_function = symbol+".NS"
    tickerData = yf.Ticker(symbol_for_function)
    tickerDf = tickerData.history(period='1d', start=start_date, end=end_date)
    tickerDf.to_csv(directory+'\ '+symbol+".csv") #returning a csv file with the dataframe created

In [149]:
export_stock_data('APOLLOHOSP','2021-10-19','2022-10-19')

**Question 3**

The file nifty50.csv contains the name and symbols of all the 50 stocks of nifty-50.

Use the function named

        export_stock_data(symbol, start_date, end_date, directory)
        
that would take the stock symbol one at a time from the nifty50.csv file to generate a data frame of the above kind and export it as a CSV file inside a NEW FOLDER in the given directory with the name of the file as exactly equal to the symbol of the stock given in the CSV file.

**Note:**

1. The symbols given in the dataset do not have the suffix .NS which needs to be added to the symbols before it can be used in the function.

2. The new folder must be created with the name NIFTY50

3. All the data frames must be exported as a CSV files as saved in the NIFTY50 folder

In [59]:
import pandas as pd
#Reading nifty50 csv file 
df = pd.read_csv("nifty50.csv")

In [138]:
#For every row in the csv taking ith row of Symbol column and creating a DataFrame
def export_stock_data(symbol, start_date, end_date, directory=os.getcwd()+'\\'+'NIFTY50'):
    symbol_for_function = symbol+".NS"
    tickerData = yf.Ticker(symbol_for_function)
    start_date = start_date
    end_date = end_date
    tickerDf = tickerData.history(period='1d', start=start_date, end=end_date)
    return(tickerDf.to_csv(directory+'\ '+symbol+".csv")) #returning a csv file with the dataframe created
for i in range(df.shape[0]):
    #export_stock_data(df.Symbol[i],'2021-10-19','2022-10-19', 'C:\\Users\\Dell\End Term Files')
    export_stock_data(df.Symbol[i],start_date,end_date)

NameError: name 'start_date' is not defined

**Question 4**

Create a function called,

    daily_return(df)
    
This function should be able to take a dataframe shown in the example above and calculate the daily return of the close price and output a dataframe with the same number of columns and an additional column named "**Return_Close**". 

The daily return for a day is calculated as follows:

    daily return = (today's price - previous day's price)/(previous day's price)*100

**Note:** You can calculate the daily return starting from the day 2. The return for the day 1 should be set to 0.

In [87]:
#Defiing a function daily_return
def daily_return(df):
    #Taking the dataframe name and initialising it to a new variable
    dataframe=df
    #Creating an empty list 
    return_close=[]
    
    #For every row in the DataFrame calculating a new value as per the logic 
    #daily return = (today's price - previous day's price)/(previous day's price)*100
    for i in range(len(dataframe.Close)):
        #Excluding the first row
        if i>0:
            ret=((dataframe.Close[i]-dataframe.Close[i-1])/(dataframe.Close[i-1]))*100
            return_close.append(ret)
        else:
            #For first row intiliase it to 0
            return_close.append(0)
    #Adding a new column in DataFrame        
    dataframe["Return_Close"]=return_close    
    return(dataframe) #Return the newly created DataFrame

In [89]:
daily_return(dataframe_test1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Return_Close
0,2021-10-19 00:00:00+05:30,1624.509392,1636.304427,1561.386323,1568.783081,1822638,0.0,0,0.000000
1,2021-10-20 00:00:00+05:30,1573.331135,1606.666938,1538.445941,1589.024414,2768997,0.0,0,1.290257
2,2021-10-21 00:00:00+05:30,1601.269285,1626.158729,1581.027889,1594.372314,3129269,0.0,0,0.336552
3,2021-10-22 00:00:00+05:30,1594.372292,1608.116450,1536.346910,1542.344360,2580699,0.0,0,-3.263225
4,2021-10-25 00:00:00+05:30,1544.343437,1550.740742,1493.415138,1531.548828,2276050,0.0,0,-0.699943
...,...,...,...,...,...,...,...,...,...
244,2022-10-12 00:00:00+05:30,3297.000000,3297.000000,3145.000000,3223.649902,2972601,0.0,0,-1.536372
245,2022-10-13 00:00:00+05:30,3218.000000,3262.800049,3189.000000,3233.649902,1840193,0.0,0,0.310207
246,2022-10-14 00:00:00+05:30,3272.000000,3305.000000,3194.850098,3209.500000,1344415,0.0,0,-0.746831
247,2022-10-17 00:00:00+05:30,3211.000000,3235.000000,3136.100098,3212.600098,1985298,0.0,0,0.096591
248,2022-10-18 00:00:00+05:30,3249.000000,3298.000000,3226.100098,3284.300049,1635079,0.0,0,2.231836

**Question 5**

Consider the NIFTY50 folder created in Q3. This folder should contain 50 data frames - one for each stocks in the Nifty-50 list. Create a function called,

    get_return(directory)
    

This function would take the link to the NIFTY50 folder, read one CSV file at a time present inside it, calulate the return of the close price, save the return value in an new column called "Return" and update the CSV file.

In [139]:
def get_return(directory=os.getcwd()):
    #opening folder nifty 50
    files=os.listdir(directory+"\\"+"NIFTY50")
    #iterating files in folder nifty 50
    for i in files:
        #assigning Return close empty column so that later on we can append the calculated return close price
        return_close=[]
        dframe=pd.read_csv(directory+"\\"+"NIFTY50"+ "\\" +i)    
        #iterating through close price for calculation
        for j in range(len(dframe.Close)):    
            if j>0:     #as we know first value is zero as we dont have previous data than starting date
                ret=((dframe.Close[j]-dframe.Close[j-1])/(dframe.Close[j-1]))*100
                return_close.append(ret)   #appended to empty list
            else:
                return_close.append(0)   #as first value is zero
        dframe["Return_Close"]=return_close  #adding column in dataframe
        dframe.to_csv(directory+"\\"+"NIFTY50"+ "\\" +i)  #upadating the files in the folder

**Question 5**

Modify the get_return() function such that it has another argument,

    get_return(directory, plot = False)
    
If the argument plot is set to False the the output of this function is same as the function in Q6. However, if it is set to True then for every stock we get a line plot in the JPEG format exported in a separate folder named **Graphs** inside the parent directory.

In [144]:
def get_return(plot,directory=os.getcwd()):
    files=os.listdir(directory+"\\"+"NIFTY50")  #opening folder nifty50
    for i in files: #iterating through folder

        new_column=[]
        dframe=pd.read_csv(directory+"\\"+"NIFTY50"+ "\\" +i)
        #reading data frame
        for j in range(len(dframe.Close)):    
            if j>0:
                ret=((dframe.Close[j]-dframe.Close[j-1])/(dframe.Close[j-1]))*100              #calculating  return close price price
                new_column.append(ret)
            else:
                new_column.append(0)
        dframe["Return_Close"]=new_column # data frame updated
        if plot ==False:  #here plot is false so it will return only question no 5 resultthat is updating folder only
            folder=dframe.to_csv(directory+"\\"+"NIFTY50"+ "\\" +i)
            return folder
        else:
            sns.lineplot(data=dframe,x=dframe.Date.astype('datetime64[ns]'),y=dframe.Return_Close) #ploting line graph
            position = i.find('.') #fetching file name
            new_file_name=i[0:position] #fetching only file name
            plt.title("Line plot of "+new_file_name )
            #saving graph
            folder=plt.savefig(directory +"\\"+"Graphs"+ "\\" +new_file_name+".JPEG",dpi=1000,orientation ='landscape',pad_inches = 1,facecolor='yellow')
           
            plt.show()